<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Atendimento</title>
</head>
<body>
    <h1>Detalhes do Atendimento</h1>
    <p>Aluno: {{ atendimento.aluno.nome_completo }}</p>
    <p>Data do Atendimento: {{ atendimento.data_atendimento }}</p>
    <p>Necessidades Identificadas: {{ atendimento.necessidades_identificadas }}</p>
    <p>Encaminhamentos Realizados: {{ atendimento.encaminhamentos_realizados }}</p>
    <a href="{% url 'lista_atendimentos' %}">Voltar para a lista de atendimentos</a>
</body>
</html>