<!DOCTYPE html>
<html>
<head>
    <title>Lista de Frequências</title>
</head>
<body>
    <h1>Lista de Frequências</h1>
    <a href="{% url 'cadastro_frequencia_aluno' %}">Registrar Frequência de Aluno</a>
    <a href="{% url 'cadastro_frequencia_professor' %}">Registrar Frequência de Professor</a>
    <h2>Frequência de Alunos</h2>
    <ul>
        {% for frequencia in frequencias_aluno %}
            <li>
                <a href="{% url 'detalhes_frequencia' frequencia.pk %}">{{ frequencia.aluno.nome_completo }} - {{ frequencia.data_aula }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Frequência de Professores</h2>
    <ul>
        {% for frequencia in frequencias_professor %}
            <li>
                {{ frequencia.professor.username }} - {{ frequencia.data_aula }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>